<a href="https://colab.research.google.com/github/jtoyhh/IBK_IT/blob/main/Company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('C:/Django/Data_Processing/Data/IBK프로젝트_중소기업 정책별 기업리스트.xlsx', index_col=0)

In [ ]:
data = data.rename(columns=data.iloc[0]).drop(data.index[0])

In [ ]:
data.index = data.index.astype("int")

In [ ]:
data.head(2)

,기업명,해시태그,정책,정기보너스,인센티브제,스톡옵션,우수사원포상,노타이,자유복장,출퇴근선택시간제,...,도서구입비지원,신입사원교육,직무능력향상교육,리더십강화교육,자기계발비지원,주요사업,산업1,산업2,산업3,산업4
1,천일엔지니어링(주),금융,매출채권보험,0,0,0,1,0,0,0,...,0,0,0,0,0,자동차용 플라스틱 사출성형 제품 제조,기계,설비,자동차,NaN
2,(주)에스티엠테크놀로지,금융,매출채권보험,0,1,0,1,1,0,0,...,0,1,0,0,0,"반도체관련부품, 전지전자 부품",제조업,NaN,NaN,NaN

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("C:/Django/Data_Processing/Data/Company.db")
data.to_sql('Company',con)

40

In [ ]:
con.commit()